/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
html, body { 
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    min-height: 100vh;
    height: auto;
    margin: 0;
    overflow: auto;
}

::selection {
    background: #7b1fa2;
}
